<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->

	<title>Safi Air</title>

	<!-- Google font -->
	<link href="https://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet">

	<!-- Bootstrap -->
	<link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" />

	<!-- Custom stlylesheet -->
	<link type="text/css" rel="stylesheet" href="css/style.css" />

	<!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
		  <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
		  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

</head>
<body>
    <section class="wrapper">
        <div class="container-fostrap">
            <div>
                
                <h1 class="heading">
                    Les vols diponible pour vous
                </h1> <br>
            </div>
            <div class="content">
                <div class="container">
                    <div class="row">


                        <% rows.forEach(function(row){ %>
                            <div class="col-xs-12 col-sm-4">
                                <div class="card">
                                    <a class="img-card" href="#">
                                    <img src="../img/background.jpg" />
                                  </a>
                                    <div class="card-content">
                                        <h4 class="card-title">
                                           from  <%= row.villeDepart %> to <%= row.villeArrivee %>
                                        </h4>
                                        <p class="">
                                         At  <%= row.heurDepart %> / <%= row.heurArrivee %>
                                        </p>
                                        <p class="">
                                              <%= row.descrption %>
                                        </p>
                                    </div>
                                    <div class="card-read-more">
                                        <a href="/book" class="btn btn-link btn-block">
                                            Book Now 
                                        </a>
                                    </div>
                                </div>
                            </div>
                        <% }); %>

                        
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</body>